<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315810402236-lkuhatu9057pfg1qb4o8j5ug1bb4h9rq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315810402236-lkuhatu9057pfg1qb4o8j5ug1bb4h9rq</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Q3ZVM-pC-2DiGJrSjiRuTMKldj-zCWg</string>
	<key>GCM_SENDER_ID</key>
	<string>315810402236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cyou.libmuy.bRecorder</string>
	<key>PROJECT_ID</key>
	<string>brecorder-63acc</string>
	<key>STORAGE_BUCKET</key>
	<string>brecorder-63acc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315810402236:ios:07eaf8fc8149e86b6b65b9</string>
</dict>
</plist>